#ignore local project files
.project
.pydevproject
.settings/

#ignore database
db.sqlite3*

#ignore migrations
PandDDL/migrations/*

#ignore media
media/*
static/*

#ignore local settings
PDDL/local_settings*

#ignore secret_key
PDDL/secret_key*

#ignore logs
logs/*
*.log
