{% extends "./base.html" %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminPage' %}">Admin Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">League</li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminDivision' %}">Division</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminFixture' %}">Fixture</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminTeam' %}">Team</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminPlayer' %}">Player</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminPlayerComps' %}">Player Competitions</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminKeyDates' %}">Key Dates</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminAnnouncements' %}">Announcements</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminPhotoGalleries' %}">Photo Galleries</a></li>
		<li class="breadcrumb-item"><a href="{% url 'PandDDL:adminAGMminutes' %}">AGM Minutes & Files</a></li>
	</ol>
</nav>

<h1>League Admin
<button class="admin-function-button btn btn-primary" data-toggle="modal" data-target="#new-league">New League Season</button>
</h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#mensLeague">Men's Leagues</a></li>
  <li><a data-toggle="tab" href="#ladiesLeague">Ladies' Leagues</a></li>
</ul>
<div class="tab-content">
	<div id="mensLeague" class="tab-pane fade in active">
		<table class="table">
			<tr>
				<th>League</th>
				<th>Active</th>
				<th></th>
				<th></th>
			</tr>
			{% for league in mens_leagues %}
			<tr>
				<td> {{ league.gender }} {{ league.season }} League {{ league.displayyear }}</td>
				<td>{% if league.active %}Yes{% else %}<a href="{% url 'PandDDL:setActiveLeague' league.pk %}">Set Active</a>{% endif %}</td>
				<td>{% if league.active %}<span class="admin-a-link" data-toggle="modal" data-target="#mens-new-season-{{ forloop.counter }}">Finish Season</span>{% elif league.finished %}Finished{% else %}Not Finished{% endif %}</td>
				<td>{% if league.active %}Delete{% else %}<a class="admin-a-link" onclick="deleteitem({{ league.pk }});">Delete</a>{% endif %}</td>
				{% if league.active %}
				<div class="modal fade" id="mens-new-season-{{ forloop.counter }}" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<form id="new-season-form" action="{% url 'PandDDL:FinishSeason' league.pk %}" method="POST">{% csrf_token %}
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">New Season Details</h4>
									<p>Please ensure these details are correct before proceeding</p>
								</div>
								<div class="modal-body">
									<p>League Gender:
										<select class="form-control" name="new-league-gender">
											<option value="Men's" {% if league.gender == "Men's" %}selected{% endif %}>Men's</option>
											<option value="Ladies" {% if league.gender == "Ladies" %}selected{% endif %}>Ladies</option>
										</select>
									</p>
									<p>League Season: 
										<select class="form-control" name="new-league-season">
											<option value="Summer" {% if league.season == "Winter" %}selected{% endif %}>Summer</option>
											<option value="Winter" {% if league.season == "Summer" %}selected{% endif %}>Winter</option>
										</select>
									</p>
									<p>League Start Year (For Winter League, the year in which this starts eg. 2018 for the 18-19 league): 
										<select class="form-control" name="new-league-year">
											<option value="{{ league.year }}" {% if league.season == "Summer" %}selected{% endif %}>{{ league.year }}</option>
											<option value="{{ league.year|add:'1' }}" {% if league.season == "Winter" %}selected{% endif %}>{{ league.year|add:'1' }}</option>
											<option value="{{ league.year|add:'2' }}">{{ league.year|add:'2' }}</option>
										</select>
									</p>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">Start League</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
	
	<div id="ladiesLeague" class="tab-pane fade">
		<table class="table">
			<tr>
				<th>League</th>
				<th>Active</th>
				<th></th>
			</tr>
			{% for league in ladies_leagues %}
			<tr>
				<td> {{ league.gender }} {{ league.season }} League {{ league.displayyear }}</td>
				<td>{% if league.active %}Yes{% else %}<a href="{% url 'PandDDL:setActiveLeague' league.pk %}">Set Active</a>{% endif %}</td>
				<td>{% if league.active %}<span class="admin-a-link" data-toggle="modal" data-target="#ladies-new-season-{{ forloop.counter }}">Finish Season</span>{% elif league.finished %}Finished{% else %}Not Finished{% endif %}</td>
				<td>{% if league.active %}Delete{% else %}<a class="admin-a-link" onclick="deleteitem({{ league.pk }});">Delete</a>{% endif %}</td>
				{% if league.active %}
				<div class="modal fade" id="ladies-new-season-{{ forloop.counter }}" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<form id="new-season-form" action="{% url 'PandDDL:FinishSeason' league.pk %}" method="POST">{% csrf_token %}
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">New Season Details</h4>
									<p>Please ensure these details are correct before proceeding</p>
								</div>
								<div class="modal-body">
									<p>League Gender:
										<select class="form-control" name="new-league-gender">
											<option value="Men's" {% if league.gender == "Men's" %}selected{% endif %}>Men's</option>
											<option value="Ladies" {% if league.gender == "Ladies" %}selected{% endif %}>Ladies</option>
										</select>
									</p>
									<p>League Season: 
										<select class="form-control" name="new-league-season">
											<option value="Summer" {% if league.season == "Winter" %}selected{% endif %}>Summer</option>
											<option value="Winter" {% if league.season == "Summer" %}selected{% endif %}>Winter</option>
										</select>
									</p>
									<p>League Start Year (For Winter League, the year in which this starts eg. 2018 for the 18-19 league): 
										<select class="form-control" name="new-league-year">
											<option value="{{ league.year }}" {% if league.season == "Summer" %}selected{% endif %}>{{ league.year }}</option>
											<option value="{{ league.year|add:'1' }}" {% if league.season == "Winter" %}selected{% endif %}>{{ league.year|add:'1' }}</option>
											<option value="{{ league.year|add:'2' }}">{{ league.year|add:'2' }}</option>
										</select>
									</p>
								</div>
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary">Start League</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
		
		
		
	</div>
</div>

<div class="modal fade" id="new-league" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="new-season-form" action="." method="POST">{% csrf_token %}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">New Season Details</h4>
					<p>Please ensure these details are correct before proceeding</p>
				</div>
				<div class="modal-body">
					<p>League Gender:
						<select class="form-control" name="new-league-gender">
							<option disabled selected>Select Gender</option>
							<option value="Men's">Men's</option>
							<option value="Ladies">Ladies</option>
						</select>
					</p>
					<p>League Season: 
						<select class="form-control" name="new-league-season">
							<option disabled selected>Select Season</option>
							<option value="Summer">Summer</option>
							<option value="Winter">Winter</option>
						</select>
					</p>
					<p>League Start Year (eg. input 2018 for the 18-19 winter league): 
						<select class="form-control" name="new-league-year">
							<option disabled selected>Select Year</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
						</select>
					</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Start League</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
function deleteitem(item) {
	if (confirm("Are you sure you wish to delete this League?")) {
		window.location.replace("/admin/league/delete/"+item);
	}
}
</script>
{% endblock %}