{% extends "./base.html" %}
{% load static %}
{% block content %}

<h1>Edit AGM Minutes from {{ minutes.date }}</h1>
<form id="agm-minutes-form" action="." method="POST">{% csrf_token %}
	<h4>AGM Date:</h4>
	<input class="form-control" type="date" name="agm-date" value="{{ minutes.date|date:'Y-m-d' }}">
	<h4>Minutes:</h4>
	<textarea class="form-control" id="agm-minutes-form-field" name="agm-minutes" form="agm-minutes-form">{{ minutes.minutes }}</textarea>
	<button class="btn btn-primary">Submit</button>
</form>
{% endblock %}