{% extends "./base.html" %}
{% load static %}
{% block content %}
<h1>Archive</h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#mensLeague">Men's Leagues</a></li>
  <li><a data-toggle="tab" href="#ladiesLeague">Ladies' Leagues</a></li>
</ul>
<div class="tab-content">
	<div id="mensLeague" class="tab-pane fade in active">
		{% if mens_archive_leagues|length != 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Season</th>
					<th>Competition</th>
					<th>Winner</th>
					<th>Runner Up</th>
				</tr>
			</thead>
			<tbody>
				{% for league in mens_archive_leagues %}
				<tr>
					<td {% if mens_player_comps|length != 0 %}rowspan="2"{% endif %}>{{ league.display_name }}</td>
					
					<td>
						{% for div in mens_archive_divs %}
							{% if div.season.pk == league.pk %}{{ div.division_name }}<br>{% endif %}
						{% endfor %}
					</td>
					<td>
						{% for div in mens_archive_divs %}
							{% if div.season.pk == league.pk %}{{ div.winner }}<br>{% endif %}
						{% endfor %}
					</td>
					<td>
						{% for div in mens_archive_divs %}
							{% if div.season.pk == league.pk %}{{ div.runner_up }}<br>{% endif %}
						{% endfor %}
					</td>
				</tr>
				{% if mens_player_comps|length != 0 %}
				<tr>
					<td>
						{% for comp in mens_player_comps %}
							{{ comp.comp_name }}<br>
						{% endfor %}
					</td>
					<td>
						{% for comp in mens_player_comps %}
							{% if comp.winner1 %}{{ comp.winner1 }}{% endif %}{% if comp.winner2 %}<br>{{ comp.winner2 }}{% endif %}{% if comp.winner3 %}<br>{{ comp.winner3 }}{% endif %}</td>
						{% endfor %}
					</td>
					<td>
						{% for comp in mens_player_comps %}
							{% if comp.runnerup1 %}{{ comp.runnerup1 }}{% endif %}{% if comp.runnerup2 %}<br>{{ comp.runnerup2 }}{% endif %}{% if comp.runnerup3 %}<br>{{ comp.runnerup3 }}{% endif %}</td>
						{% endfor %}
					</td>
				{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
	
	<div id="ladiesLeague" class="tab-pane fade in">
		{% if ladies_archive_leagues|length != 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Season</th>
					<th>Competition</th>
					<th>Winner</th>
					<th>Runner Up</th>
				</tr>
			</thead>
			<tbody>
				{% for league in ladies_archive_leagues %}
				<tr>
					<td {% if ladies_player_comps|length != 0 %}rowspan="2"{% endif %}>{{ league.display_name }}</td>
					
					<td>
						{% for div in ladies_archive_divs %}
							{% if div.season.pk == league.pk %}{{ div.division_name }}<br>{% endif %}
						{% endfor %}
					</td>
					<td>
						{% for div in ladies_archive_divs %}
							{% if div.season.pk == league.pk %}{{ div.winner }}<br>{% endif %}
						{% endfor %}
					</td>
					<td>
						{% for div in ladies_archive_divs %}
							{% if div.season.pk == league.pk %}{{ div.runner_up }}<br>{% endif %}
						{% endfor %}
					</td>
				</tr>
				{% if ladies_player_comps|length != 0 %}
				<tr>
					<td>
						{% for comp in ladies_player_comps %}
							{{ comp.keydate.name }}<br>
						{% endfor %}
					</td>
					<td>
						{% for comp in ladies_player_comps %}
							{{ comp.winner1 }} {{ comp.winner1 }}{% if comp.comptype != "singles" %}<br>{{ comp.winner2 }} {{ comp.winner2 }}{% if comp.comptype == "trebles" %}{{ comp.winner3 }} {{ comp.winner3 }}{% endif %}{% endif %}</td>
						{% endfor %}
					</td>
					<td>
						{% for comp in ladies_player_comps %}
							{{ comp.runnerup1 }} {{ comp.runnerup1 }}{% if comp.comptype != "singles" %}<br>{{ comp.runnerup2 }} {{ comp.runnerup2 }}{% if comp.comptype == "trebles" %}{{ comp.runnerup3 }} {{ comp.runnerup3 }}{% endif %}{% endif %}</td>
						{% endfor %}
					</td>
					{% endif %}
				{% endfor %}
				</tr>
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}