{% extends "./base.html" %}
{% load static %}
{% block content %}
<h1>Archive</h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#mensLeague">Men's Leagues</a></li>
  <li><a data-toggle="tab" href="#ladiesLeague">Ladies' Leagues</a></li>
</ul>
<div class="tab-content">
	<div id="mensLeague" class="tab-pane fade in active">
		{% if mens_archive_leagues|length != 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Season</th>
					<th>Competition</th>
					<th>Winner</th>
					<th>Runner Up</th>
				</tr>
			</thead>
			<tbody>
				{% for league in mens_archive_leagues %}
				<tr>
					<td {% if league.comps|length != 0 %}rowspan="2"{% endif %}>{{ league.league }}</td>
					
					<td>
						{% for div in league.divisions %}
							{{ div.name }}<br>
						{% endfor %}
					</td>
					<td>
						{% for div in league.divisions %}
							{{ div.winner }}<br>
						{% endfor %}
					</td>
					<td>
						{% for div in league.divisions %}
							{{ div.runnerup }}<br>
						{% endfor %}
					</td>
				</tr>
				{% if league.comps|length != 0 %}
				<tr>
					<td>
						{% for comp in league.comps %}
							{{ comp.name }}<br>
						{% endfor %}
					</td>
					<td>
						{% for comp in league.comps %}
							{% if comp.winner1 %}{{ comp.winner1 }}{% endif %}{% if comp.winner2 %} &amp; {{ comp.winner2 }}{% endif %}{% if comp.winner3 %} &amp;{{ comp.winner3 }}{% endif %}<br>
						{% endfor %}
					</td>
					<td>
						{% for comp in league.comps %}
							{% if comp.runnerup1 %}{{ comp.runnerup1 }}{% endif %}{% if comp.runnerup2 %} &amp; {{ comp.runnerup2 }}{% endif %}{% if comp.runnerup3 %} &amp; {{ comp.runnerup3 }}{% endif %}<br>
						{% endfor %}
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
	
	<div id="ladiesLeague" class="tab-pane fade in">
		{% if ladies_archive_leagues|length != 0 %}
		<table class="table">
			<thead>
				<tr>
					<th>Season</th>
					<th>Competition</th>
					<th>Winner</th>
					<th>Runner Up</th>
				</tr>
			</thead>
			<tbody>
				{% for league in ladies_archive_leagues %}
				<tr>
					<td {% if league.comps|length != 0 %}rowspan="2"{% endif %}>{{ league.league }}</td>
					
					<td>
						{% for div in league.divisions %}
							{{ div.name }}<br>
						{% endfor %}
					</td>
					<td>
						{% for div in league.divisions %}
							{{ div.winner }}<br>
						{% endfor %}
					</td>
					<td>
						{% for div in league.divisions %}
							{{ div.runnerup }}<br>
						{% endfor %}
					</td>
				</tr>
				{% if league.comps|length != 0 %}
				<tr>
					<td>
						{% for comp in league.comps %}
							{{ comp.name }}<br>
						{% endfor %}
					</td>
					<td>
						{% for comp in league.comps %}
							{% if comp.winner1 %}{{ comp.winner1 }}{% endif %}{% if comp.winner2 %} &amp; {{ comp.winner2 }}{% endif %}{% if comp.winner3 %} &amp;{{ comp.winner3 }}{% endif %}<br>
						{% endfor %}
					</td>
					<td>
						{% for comp in league.comps %}
							{% if comp.runnerup1 %}{{ comp.runnerup1 }}{% endif %}{% if comp.runnerup2 %} &amp; {{ comp.runnerup2 }}{% endif %}{% if comp.runnerup3 %} &amp; {{ comp.runnerup3 }}{% endif %}<br>
						{% endfor %}
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}