{% extends "./base.html" %}
{% load static %}
{% block content %}

<h1>Change Password</h1>
<div class="row">
	<div class="col-sm-4">
		<form method="POST" action=".">{% csrf_token %}
			<p>Old Password:
				<input class="form-control" type="password" name="old-password">
			</p>
			<p>New Password:
				<input class="form-control" type="password" name="change-password">
			</p>
			<p>Confirm Password:
				<input class="form-control" type="password" name="change-password-confirm">
			</p>
			<button class="btn btn-primary" type="submit">Change Password</button>
		</form>
	</div>
</div>
{% endblock %}