{% extends "./base.html" %}
{% load static %}
{% block content %}

<h1>Contact Us</h1>

<h3>Committee</h3>
<div class="row">
	<div class="col-md-3">
		<div class="contact-card">
			<h4>Ronnie Johnson</h4>
			<p><strong>League Secretary</strong></p>
			<p><a href="mailto:ronnie19579671@yahoo.co.uk">ronnie19579671@yahoo.co.uk</a></p>
			<p>07886945041</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="contact-card">
			<h4>Kerry Brown</h4>
			<p><strong>Results Secretary</strong></p>
			<p><a href="mailto:kerry.brown513@gmail.com">kerry.brown513@gmail.com</a></p>
			<p>07711766574</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="contact-card">
			<h4>Neil Johnson</h4>
			<p><strong>Chairperson</strong></p>
			<p>07539243296</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="contact-card">
			<h4>Richard Line</h4>
			<p><strong>Vice Chairperson</strong></p>
			<p>07905011470</p>
		</div>
	</div>
</div>

{% endblock %}
