{% extends "./base.html" %}
{% load static %}
{% block content %}

<h1>League Rules &amp; Constitution</h1>

<h3>Rules</h3>
<ol>
	<li>
	Registration is &pound;50 per team, this is to be paid at the Annual General Meeting to secure team's place in the league. Player/Team registration 
	forms will be given at AGM, player registration sheets to be with results secretary, on or within one week of first game. Teams will not be given 
	any points until player sheets are received. All teams can add one player after the half way deadline
	</li>
	<li>
	The board is to be 5ft 8 inches from the centre of the bull to the floor, with 7ft 9&frac14; to be the minimum throwing distance. Oche's should be 
	raised. Dartboard should be in good repair, and preferably non-stapled. Please ensure the dartboard and lighting is of good standard
	</li>
	<li>Games to consist of:
		<ol type="a">
			<li>
			<strong>Div A &amp; B</strong>
			<br>5x Single games. 501 straight start. Double finish, best of 5 legs
			<br>2x Double games. 601 straight start. Double finish, best of 3 legs
			</li>
			<li>
			<strong>Div C, D, E &amp; F</strong>
			<br>5X Single games 501 straight start. Double finish, best of 3 legs
			<br>2x Double games 601 straight start. Double finish, best of 3 legs
			</li>
		</ol>
 	<li>
 	A draw to be done to determine order of play, the draw should be COMPLETED by 20.30hrs and games to commence by 20.45. (This is flexible if teams 
 	agree to start earlier). Draw for the doubles will be done following the singles games.
	</li>
	<li>
	The home team will throw first for `BULL' in the first leg and the away team to throw first in the deciding leg
	</li>
	<li>
	Boards to be open for away teams by 20.15hrs
	</li>
	<li>
	The bust back rule applies to this league
	</li>
	<li>
	Teams will be awarded 2 points for a win
	</li>
	<li>
	Results to be text-photo, email or post, to results secretary no later than Friday following the Monday game. Points deducted for late results. 
	(YOU HAVE BEEN WARNED)
	</li>
	<li>
	Please record all 100+ plus finishes and 180's in the space provided on front sheet. These will count in both singles and pairs, but not competitions.
	</li>
	<li>
	Teams to consist of minimum of 4 players.
	</li>
	<li>
	In Divisions A and B should a team only have 4 players, 1 single game will be won by opposing team 3 - 0 straight
	</li>
	<li>
	In all other divisions should a team only have 4 players 1 single game will be won 2 - 0
	</li>
	<li>
	In the event of a team turning up short of players, the team with the full side shall be entitled to pick their players that go into the draw
	</li>
	<li>
	If a team turns up with only 3 players or less, the opposing team will be awarded 7 - 0. The game will not be played. (With the exception of rule 21 will 
	be applied)
	</li>
	<li>
	If a player is going to be late this player must be named at the time of the draw. The player must be in attendance by the end of the 4th game. If the player 
	arrives after the 4th game, their game will be lost, and they will not be eligible to play in the pairs. If the player turns up during the last singles, it's 
	between the both captains if they can play in pairs
	</li>
	<li>
	LEAGUE TABLES, In the event of a tie, game average will count. In the event of game average being a tie there will be a play off on finals night between the 2 
	teams involved to determine Winners/Runner up
	</li>
	<li>
	Trophies will be held for one year. Trophies to be returned on Annual General Meeting. The league is now running with separate summer/winter fixtures, please 
	bear this in mind, with your seasons fixtures
	</li>
	<li>
	Please notify Results secretary if any new players added. Any non-registered players appearing on results sheet, will forfeit points
	</li>
	<li>Transfer of players not permitted, except for a full team dropping out of the league. There is also a 2-year ban on teams that drop out of league before the 
	end of the season.
	</li>
	<li>
	CANCELLATION OF GAMES: Games may only be cancelled in EXTREME CIRCUMSTANCES
	<br>
	Cancellation of games must be before 11.59 am, on the Monday of the game
	<br>
	A fee of &pound;10 may be charged for cancellations to be paid for any food prepared
	<br>
	After this deadline games will be given as a 7 - 0 defeat, and the points awarded to the affected team
	<br>
	Only 1 game per team, per season permitted, any more cancellations will be given as 7-0 defeat and the points awarded to the affected team. The cancelling captain 
	is to inform both the opposition captain and The Result Secretary of the cancellation and the reason why cancelling. In the event of a cancelled game, both 
	captains to agree a new date. If this cannot be agreed, then the committee will then set a date for the fixture to take place
	</li>
	<li>
	Chalking to be shared by both teams, Chalker's can only tell player what they have left. If help is needed what to go for, one member of the team may be 
	designated to do this. Chalker's to remain impartial always
	</li>
	<li>
	Electronic scoreboards can be used, providing both captains are happy to do so. A back up of chalk and board must be provided should the scoreboard malfunction. 
	Any issues about the use of scoreboard to be directed to the committee
	</li>
	<li>
	The minimum age of players is 14 years old, there must be a responsible adult to accompany them. Please contact landlord out of courtesy at least 24 hours before 
	the game to be allowed on the premises
	</li>
	<li>
	Respect must be given to all players always. Intimidation, verbal or physical abuse will not be tolerated. Please have the upmost respect for all players and 
	venues
	</li>
	<li>
	In all disputes the decision of the committee is final. The committee/league will not be held responsible for any damage caused by darts/person
	</li>
	<li>
	As per AGM, Singles competition will be played in 2 rooms at the post office club, Div A, B, AND C will play in main hall, and Div D, E, and F will play in bar, 
	free standing boards will make 4 boards available. This is to be a trial, its up to you guys now to attend and make this successful
	</li>
	<li>
	Please enjoy your darts and treat teammates/league members with the upmost respect
	</li>
</ol>

<h3>Constitution</h3>
<ol>
	<li>The League to be known as Peterborough &amp; District Darts League</li>
	<li>Headquarters will be Post Office club, Peterborough</li>
	<li>All officers to be democratically voted in at the Annual General Meeting before each season begins. Must also be present to be elected</li>
	<li>Proposals for Annual General Meeting rule changes should be with the league secretary's possession at least 14 days prior to meeting</li>
	<li>All people registered are deemed as league members</li>
	<li>Any disputes shall be dealt by the committee; their decision is final</li>
	<li>It is requested that all Captains/League members, be present at the yearly Annual General Meeting</li>
	<li>All League members are expected to behave in a sporting and well-behaved manner. Anyone not, shall be dealt with by the committee</li>
</ol>

{% endblock %}